primary {
    color:#DCD87B
}
default {
    color:grijd
}
danger {
    color:rood
}
warning {
    color:geel
}
dark {
    color:black
}
info {
    color:blue
}
secondary {
    color:light green
}
white {
    color:ffffff
}

